name: Unit tests

on:
  pull_request:
  push:

defaults:
  run:
    shell: bash

jobs:
  tests:
    name: PHP ${{ matrix.php }} - Symfony ${{ matrix.symfony }}${{ matrix.mode == 'low-deps' && ' (lowest)' || '' }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          # PHP 8.1 with Symfony 6.4 LTS (lowest)
          - php: '8.1'
            symfony: '6.4.*'
            mode: low-deps

          # PHP 8.1 with Symfony 6.4 LTS
          - php: '8.1'
            symfony: '6.4.*'

          # PHP 8.2 with Symfony 6.4 LTS
          - php: '8.2'
            symfony: '6.4.*'

          # PHP 8.2 with Symfony 7.2
          - php: '8.2'
            symfony: '7.2.*'

          # PHP 8.3 with Symfony 7.2
          - php: '8.3'
            symfony: '7.2.*'

          # PHP 8.4 with Symfony 7.2
          - php: '8.4'
            symfony: '7.2.*'
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          coverage: none
          extensions: "intl, bcmath"
          php-version: "${{ matrix.php }}"

      - name: Validate composer.json and composer.lock
        run: composer validate --strict --no-check-lock

      - name: Configure Symfony version
        run: |
          composer require --no-update symfony/http-kernel:${{ matrix.symfony }} symfony/http-foundation:${{ matrix.symfony }}

      - name: Install dependencies
        run: |
          composer update --prefer-dist --no-progress ${{ matrix.mode == 'low-deps' && '--prefer-lowest' || '' }}

      - name: Run phpspec
        run: |
          php vendor/bin/phpspec run
